/* .header{
    background-color: #333;
    color: whitesmoke;
    height: 90px;
    text-align: center;
    display: flex;
    font-size: 75px;
    font-family: 'Roboto';
    justify-content: center;
} */

/* .menuItem{
    background-color: #737373;
    color: whitesmoke;
    height: 75px;
    display: block;
} */

.header{
    width: 100%;
    line-height:75px;
    font-size:70px;
    text-align: center;
    /* justify-content: center; */
    position: relative;
    /* vertical-align: middle; */
}


.InfoBar{
    width: 95%;
    text-align: center;
    justify-content: center; 
    position: relative;
    vertical-align: middle;
    display:inline-block; 
    height: 30px;
}

.infoImage{
    max-width: 100%;
    max-height: 100%;
}

.highlight{
    display:inline-block;
    width:30px;
    height: 30px;  
    padding-left:8px;
    padding-right:8px; 
}

.highlight img:hover{
    opacity: .5;
}

.navHighlight{
    display:inline-block;
    height: 30px;  
    padding-left:8px;
    padding-right:8px; 
    font-size: 25px;
    color: black;   
}

.navHighlight:hover div{
    color:#646464;
}

.introText{
    justify-content: center; 
    text-align: center;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-family:"Roboto";
    color: grey;
}

.navLink{
    text-decoration: none;    
}

a.navLink:hover{
    color: black;
}

.employerLinks{
    text-decoration: none;
    color: #2d667e;
  }
  
 a.employerLinks:visited{
    text-decoration: none;
    color: #2d667e;
  }
  
  a.employerLinks:hover {
    text-decoration: underline;
  }

  .headshot{
    width:200px;
    height:200px;
    opacity:0.9;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    margin-bottom:10px;
  }

.aboutContainer{
    margin-top: 20px;
    width: 850px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
}

.aboutPic{
    width: 234px;
}

.aboutPic img{
    max-width: 100%;
    height: auto;
    float:left;
    margin-right: 38px;
}

.aboutText{
    width: 578px;
    font-family:"Roboto";
    color: black;
    text-align: left;
    float:left;
    font-size:20px;
    line-height: 1.5;
}
